html{
    font-size:14px;
}
@media screen and (min-width: 320px) {
    html {
      font-size: 4.7px;
    }
  }
  @media screen and (max-width: 320px) {
    html {
      font-size: 4.7px;
    }
  }
  @media screen and (min-width: 375px) {
    html {
      font-size: 5.5px;
    }
  }
  @media screen and (min-width: 414px) {
    html {
      font-size: 6px;
    }
  }
  @media screen and (min-width: 480px) {
    html {
      font-size: 9.98px;
    }
  }
  @media screen and (min-width: 540px) {
    html {
      font-size: 12px;
    }
  }
  @media screen and (min-width: 750px) {
    html {
      font-size: 15px;
    }
  }
  @media screen and (min-width: 870px) {
    html {
      font-size: 16px;
    }
  }
  @media screen and (min-width: 1100px) {
    html {
      font-size: 16px;
    }
  }

 * {
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        margin: 0;
        padding: 0;
 }
ul,ol{
            list-style: none;
        }
html,
body {
           
            background-color: #000;
 }
a{
 text-decoration: none;
 cursor:url(../images/link.cur),auto;
color:#f5f7f8;
}

body {
display: flex;
justify-content: center;
position: fixed;        
width: 100vw;
cursor:url(../images/normal.cur),auto;
}
.page1{
/* overflow: hidden; */
position: relative;
}
 canvas {
width: 100%;
height:100vh;
        }
.septum{
            display:flex ;
            position: absolute;
            justify-content: center;
            align-items: center;
            top:25%;
            left:50%;
            transform: translateX(-50%);
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            font-family:Cinzel,'Cinzel', serif;
            color:rgb(240, 248, 255);
            letter-spacing: .5rem;
            font-size: 3rem;
            pointer-events: none;
            transition: all .5s;
            pointer-events: none;
            z-index: 1;
}
.subtitle{
            font-family: 'Sacramento', cursive;
            position:absolute;
            top:39%;
            left:50%;
            transform: translateX(-50%);
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            text-align: center;
            letter-spacing: .1em;
            font-size:2.5rem;
            color:#2bd2ff;
            text-shadow:1px 1px 4px #2bd2ff,
            1px 1px 4px #2bd2ff ;
            pointer-events: none;
            
        }
        @-webkit-keyframes fadeInUp {
            0%{
                opacity: 0;
                transform: translateY(1000px);
            }
            100%{
                opacity: 1;
                transform: translateY(0px);
            }
        }
        @keyframes fadeInUp {
            0%{
                opacity: 0;
                transform: translateY(1000px);
            }
            100%{
                opacity: 1;
                transform: translateY(0px);
            }
        }
 /* 按钮 */
 .enter{
    display: flex; 
    justify-content: center;
} 
.door{
    
    position: absolute;
    top:65%;
    -webkit-animation: fadeInUp 1s ease;
            animation: fadeInUp 1s ease;
   
}
 .door .btn{
    display: flex;
    justify-content: center;
    width: 9rem;
    min-width: 5rem;
    height: 2.2rem;
    min-height: 2.2rem;
}
 .door .btn a{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 30px;
    color: white;
    z-index: 1;
    font-weight: 400px;
    font-size:1em;
    letter-spacing: .2em;
    text-decoration: none;
    overflow: hidden;
    transition:0.5s;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.door .btn:hover a{
letter-spacing: 4px;
}
.door .btn a::before{
    content:'';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,rgba(255,255,255,0.15),transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}
.door .btn:hover a::before{
transform: skewX(45deg) translateX(200%);
}
.door .btn::before{
content: '';
position: absolute;
left:50%;
transform: translateX(-50%);
bottom: -.2em;
width: 2.3em;
height: .7em;
border-radius: 10px;
transition: 0.5s;
}
.door .btn:hover::before{
bottom: 0;
height: 50%;
width: 80%;
border-radius: 30px;
}
.door .btn::after{
content: '';
position: absolute;
left:50%;
transform: translateX(-50%);
top: -.2em;
width: 2.3em;
height: .7em;
border-radius: 10px;
transition: 0.5s;
} 
.door .btn:hover::after{
top: 0;
height: 50%;
width: 80%;
border-radius: 30px;
}
/* 备用颜色 */
/* .door .btn::before,
.door .btn::after{
background:#ff1f71;
box-shadow: 0 0 5px #ff1f71,
0 0 15px #ff1f71,
0 0 30px #ff1f71,
0 0 60px #ff1f71;
} */
.door .btn::before,
.door .btn::after{
background:#2bd2ff;
box-shadow: 0 0 5px #2bd2ff,
0 0 15px #2bd2ff,
0 0 30px #2bd2ff,
0 0 60px #2bd2ff;
}
/*平台*/
.platform{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
}
.platform .icon{
    display: flex;
    justify-content:space-between;
    width: 55%;
    position: absolute;
    bottom:8%;
    color:#fff;
    -webkit-animation: fadeInUp 1.5s ease;
            animation: fadeInUp 1.5s ease;
    pointer-events:none;
}
.platform .icon a{
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events:all;
}
.platform .icon a .icon-text{
    position: absolute;
    top:50%;
    font-size: 1rem;
    opacity: 0;
    transition:transform .3s ease,opacity .3s ease;
}
.platform .icon a .iconfont {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width:2.3rem;
    min-width: 20px;
    height: 2.3rem;
    min-height: 20px;
    border-radius: .3em;
    transition: transform .3s ease;
}
.platform .icon li:nth-child(1) .iconfont
{
    color: #4267B2;
    border-color: #4267B2;
    box-shadow: -1px 1px 6px #4267B2,
                -1px 1px 6px #4267B2,
                1px -1px 6px #4267B2; 
}
.platform .icon li:nth-child(1) .icon-text{
    color: #4267B2;
}

.platform .icon li:nth-child(2) .iconfont
{
    color: #1DA1F2;
    border-color: #1DA1F2; 
    box-shadow: -1px 1px 6px #1DA1F2,
                -1px 1px 6px #1DA1F2,
                1px -1px 6px #1DA1F2;
}
.platform .icon li:nth-child(2) .icon-text{
    color: #1DA1F2;
}
.platform .icon li:nth-child(3) .iconfont
{
    color: #FF0080;
    border-color: #FF0080;
    box-shadow: -1px 1px 6px #FF0080,
                -1px 1px 6px #FF0080,
                1px -1px 6px #FF0080;
}
.platform .icon li:nth-child(3) .icon-text{
    color: #FF0080;
}
.platform .icon li:nth-child(4) .iconfont
{
    color: #ff0000;
    border-color: #ff0000;
    box-shadow: -1px 1px 6px #ff0000,
                -1px 1px 6px #ff0000,
                1px -1px 6px #ff0000;
}
.platform .icon li:nth-child(4) .icon-text{
    color: #ff0000;
}
.platform .icon li:nth-child(5) .iconfont
{
    color: #2EFE2E;
    border-color: #2EFE2E;
    box-shadow: -1px 1px 6px #2EFE2E,
                -1px 1px 6px #2EFE2E,
                1px -1px 6px #2EFE2E;             
}
.platform .icon li:nth-child(5) .icon-text{
    color: #2EFE2E;

}
.icon a:hover .icon-text{
    opacity: 1;
    bottom:-10%;
    transform: translateY(100%);
}
.icon a:hover .iconfont{
    transform: translateY(-10px);
}


/*第二屏start*/
.secondPages{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/clearsky.png);
    background-size:cover;
    background-position: center;
    overflow: hidden;
}

.star{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    -webkit-animation: bulingbuling 16s linear infinite;
            animation: bulingbuling 16s linear infinite; 
}
.star1{
background-image:url(../images/star1.png);
-webkit-animation-delay: -1s;
        animation-delay: -1s;
}
.star2{
background-image:url(../images/star2.png);
-webkit-animation-delay: -2s;
        animation-delay: -2s;
}
.star3{
background-image:url(../images/star3.png);
-webkit-animation-delay: -3s;
        animation-delay: -3s;
}
@-webkit-keyframes bulingbuling{
    0%,50%,100%{
        opacity: 0;
    }
    25%,75%{
        opacity: 1;
    }
}
@keyframes bulingbuling{
    0%,50%,100%{
        opacity: 0;
    }
    25%,75%{
        opacity: 1;
    }
}





/* 倒计时 */
.cutdown{
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
    margin-top: 2vh;
    min-width:280px;
    color: rgb(255, 255, 255);
    z-index: 1;
    }
.cutdown .excerpt{
    width: 100%;
    font-family: cursive,serif;
    text-shadow: 2px 2px 5px #2bd2ff,
                -2px -2px 5px #2bd2ff,
                0px 0px 10px #2bd2ff;
    font-size: 1.8em;
    text-align: center;
 
}
.cutdown .timedown{
display: flex;
justify-content: center;
width:100%;
}
.cutdown .timedown .box{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
height:6rem;
min-height: 75px;
width: 8rem;
min-width: 70px;
text-align: center;
}
.cutdown .timedown .box h3{
font-size: 3em;
text-shadow: 0 0 20px #0aafe6,
0 2px 0 #daf6ff;
}
.cutdown .timedown .box span{
font-size: 1.5em;
}
/* 选择选项卡 */
.wormholes{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -10vh;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    z-index: 1;
}
.wormholes h3{
    font-family: 'Cinzel', serif !important;
   text-align: center;
    color:#fff;
    font-size: 3rem;
    letter-spacing:.3rem;
    z-index: 1;
    
}
.wormholes .verse{
    width: 90%;
    font-family: cursive,sans-serif;
    color:#fff;
    text-align: center;
    margin-top: 3vh;
    font-size: 1.7rem;
    padding-top: 2vh;
    border-top: 1px solid rgb(207, 207, 207);
}
.wormholes .introduce{
    text-align: center;
    color:#daf6ff;
    z-index: 1;
    margin-top: 1.5rem;
}
.wormholes .introduce .tag{
    font-size: 1.3rem;
}
@-webkit-keyframes cursorflash{
   0%{
        color: #fff;
    }
   
    100%{
        color: transparent;
    }
}
@keyframes cursorflash{
   0%{
        color: #fff;
    }
   
    100%{
        color: transparent;
    }
}
.wormholes .introduce .textCursor{
    color:#fff;
    font-size: 1.5rem;
    -webkit-animation: cursorflash 1s  infinite;
            animation: cursorflash 1s  infinite;
}
.wormholes .lincense{
   margin-top: 5vh;
   color:#fff;
    font-size:1rem;
}
.wormholes .lincense a{
    color:#2bd2ff;
}
.wormholes .guidepost{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    color:#fff;
    margin-top:2vh;
    padding: 5px;
    border-top: 3px solid #fff;
}
.wormholes .guidepost .pages{
    text-align: center;
    display: inline-block;
    color:#f5f7f8;
  
}
.guidepost a .iconfont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    font-size: 2rem;
    width:7rem;
}
.wormholes .guidepost .pages:hover .pages-title{
    text-shadow:2px 2px 5px #2bd2ff,
    -2px -2px 5px #2bd2ff;
}
.wormholes .guidepost .pages:hover .iconfont{
    text-shadow:2px 2px 5px #2bd2ff,
    -2px -2px 5px #2bd2ff;
}
.pages .pages-title{
    margin-top: 1vh;
font-size:1.3rem;
}


/* 返回按钮 */
.return{
    margin-bottom: 5vh;
    border:1px solid #fff;
    overflow: hidden;
    padding: 2px 5px;
    border-radius:3px;
    z-index: 100;
}
.return a{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color:#fff;
}

@media screen and (max-width: 420px){
    .septum{
        font-size: 5rem !important;
        letter-spacing: 0;
    }
    .door .btn{
        position: relative;
        width: 12vh;
        height: 3vh;
        min-height: 2.2rem;
    }
    .door .btn a{
        font-size: 3em;
        letter-spacing: 0px;
    }
    .door .btn::before{
        bottom: 0;
        height: 50%;
        width: 80%;
        border-radius: 30px;
     }
     .door .btn::after{
        top: 0;
        height: 50%;
        width: 80%;
        border-radius: 30px;
     }
     .subtitle{
         margin:0 2px;
        font-size:5rem;
        color:#2bd2ff; 
    }
    .platform .icon{
        bottom:12%;
        width: 80%;
    }
    .platform .icon li:nth-child(1) .iconfont{
        box-shadow: 2px -2px 2px #4267B2,
                    -2px 2px 2px #4267B2,
                    2px 2px 2px  #4267B2,
                    -2px -2px 2px #4267B2; 
    }
    .platform .icon li:nth-child(2) .iconfont{
        box-shadow: 2px -2px 2px #1DA1F2,
                    -2px 2px 2px #1DA1F2,
                    2px 2px 2px   #1DA1F2, 
                    -2px -2px 2px#1DA1F2;       
    }
    .platform .icon li:nth-child(3) .iconfont {
        box-shadow: 2px -2px 2px #FF0080,
                    -2px 2px 2px #FF0080,
                    2px 2px 2px   #FF0080,
                    -2px -2px 2px#FF0080;
    }
    .platform .icon li:nth-child(4) .iconfont{
        box-shadow: 2px -2px 2px #ff0000,
                    -2px 2px 2px #ff0000,
                    2px 2px 2px   #ff0000,
                    -2px -2px 2px#ff0000;
    }
    .platform .icon li:nth-child(5) .iconfont{
        box-shadow: 2px -2px 2px  #2EFE2E,
                    -2px 2px 2px  #2EFE2E,
                    2px 2px 2px   #2EFE2E,
                    -2px -2px 2px #2EFE2E;
    }
    .cutdown .excerpt{
        font-size:3rem;
    }
    .cutdown .timedown .box h3{
        font-size: 6rem;
    }
    .cutdown .timedown .box span{
        font-size: 2.8rem;
        }
        .wormholes h3{
            font-size: 6.8rem;
        }
        .wormholes .verse{
            width: 100%;
            font-size: 3.4rem;
        }
        .wormholes .introduce{
            margin-top: 5vh;
            
        }
        .wormholes .introduce .tag{
            font-size:3rem;
        }
        .wormholes .introduce .textCursor{
            font-size: 3.2rem;
        }
        .wormholes .lincense{
            font-size: 2rem;
            margin-top: 3vh;
         }
         .wormholes .guidepost{
             margin-top: 2vh;
         }
         .guidepost a{
             margin: 0 3vw;
         }
         .guidepost a .iconfont{
            font-size: 5rem;
         }
         .pages .pages-title{
             margin-top: 1vh;
             font-size: 2rem;
         }
}