@media screen and (max-width: 420px){
    .septum{
        font-size: 5rem !important;
        text-shadow:3px 3px 5px #0ec7fa;
    }
    .door .btn{
        position: relative;
        width: 12vh;
        height: 3vh;
        min-height: 2.2rem;
    }
    .door .btn::before{
        bottom: 0;
        height: 50%;
        width: 80%;
        border-radius: 30px;
     }
     .door .btn::after{
        top: 0;
        height: 50%;
        width: 80%;
        border-radius: 30px;
     }
     .subtitle{
         margin:0 2px;
        font-size:5rem;
        color:#2bd2ff; 
    }
    .platform .icon{
        width: 80%;
    }

    .cutdown .excerpt{
        font-size:4rem;
    }
    .cutdown .timedown .box h3{
        font-size: 6rem;
    }
    .cutdown .timedown .box span{
        font-size: 2.8rem;
        }
        .wormholes h3{
            font-size: 6.8rem;
        }
        .wormholes .introduce{
            margin-top: 5vh;
            
        }
        .wormholes .introduce .tag{
            font-size:3rem;
        }
        .wormholes .introduce .textCursor{
            font-size: 3.2rem;
        }
        .wormholes .lincense{
            margin-top: 3vh;
         }
         .wormholes .guidepost{
             margin-top: 2vh;
         }
         .guidepost a{
             margin: 0 3vw;
         }
         .guidepost a .iconfont{
            font-size: 5rem;
         }
         .pages .pages-title{
             margin-top: 1vh;
             font-size: 2rem;
         }
}
